#project-wrapper {
    margin: 100px auto;
}

.category-title {
  font-size: 26px;
  margin: 25px 0 10px;
  font-weight: bold;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 15px;
}

.card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ddd;
  transition: 0.3s;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
}
